<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>
        <activity
            android:name=".MovieActivity"
            android:exported="false"
            android:label="@string/title_activity_movie"
            android:theme="@style/Theme.MultiModuleProject" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>